.left-side-navigation, .right-side-navigation, .admin-page-status{
	background-color: #ededed;
	color: 	#303030;
	border-radius: 10px;
	box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.admin-navbar{
	text-decoration: none;
	font-size: 16px;
	color: #303030;
	transition: 0.3s;
}

.admin-navbar:hover{
	font-weight: bold;
	color: #fff;
	background-color: #ab59fd;
	padding: 5px 15px;
	border-radius: 10px;
}

.status-heading{
	font-size: 24px;
}

.admin-page-status{
/*	width: 20px;*/
}

.admin-page-status:hover{
	cursor: position;
	transition: 0.3s;
	box-shadow: rgba(112, 67, 192, 0.4) 0px 10px 36px 0px, rgba(108, 28, 205, 0.6) 0px 0px 0px 1px;
	/*rgba(112, 67, 192, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;*/
	/*box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;*/
	/*background-color: #ab59fd;*/
}


.page-info{
	font-size: 34px;
	color: #323030;
	color: #ab59fd;
	font-weight: bold;
}

.right-side-navigation{
	background-color: #f7f7f7;
	border-radius: 10px;
	box-shadow:rgb(171 89 253) 0px 1px 2px 0px,
}
.approval-section{
	color: 	#303030;
	background-color: #f7f7f7;
	border-radius: 10px;
	box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
	height: 100px;
}

.status-approve-btn, .status-active-btn, .status-inactive-btn, .status-reject-btn{
	border: none;
	font-weight: bold;
	font-size: 18px;
	background-color: #97CC04;
	color: #fff;
	border-radius: 8px;
	padding: 5px 10px;
}

.status-inactive-btn {
	background-color:  gray;

}
.status-reject-btn{
	background-color:  #E94F37;
}

.status-active-btn:hover, .status-inactive-btn:hover, .status-approve-btn:hover, .status-reject-btn:hover{
	opacity: 80%;
}

.scroll-div{
	height: 260px;
	overflow: hidden;
	overflow-y: auto;
}

.post-scroll{
	height: 300px;
	overflow: hidden;
	overflow-y: auto;
}
.post-counter{
	background-image: linear-gradient(to left,#ab59fd, #ededed);
	padding-left: 10px;
	margin: 5px; 
	opacity: 80%
}
.red-form-btn{
	color: #fff;
	background-color: tomato;
	border: none;
	padding: 12px 25px;
	border-radius: 8px;
	font-weight: bold;
	transition: 0.3s;
}

.red-form-btn:hover{
	opacity: 80%;
}

.dashboard-form-btn{
	background-color: #303030;
	color: #fff;
	font-weight: bold;
	letter-spacing: 3px;
	padding: 10px 20px;
	border: none;
	border-radius: 8px;
	transition: 0.3s;
	box-sizing: border-box;
}
.dashboard-form-btn:hover{
	opacity: 85%;
	letter-spacing: 1px;
	border-left: 12px solid #ab59fd;
}

/* ============== USER SECTION - Active/ Inactive ==============  */

.status-active, .status-inactive, .edit
{
	color: #fff;
	background-color: #51cf23;
	padding: 3px 8px;
	border-radius: 5px;
	text-decoration: none;
	font-size: 16px;
	font-weight: 600;
}

.status-inactive
{
	background-color: tomato;
}

.edit
{
	background-color: gray
}

.edit:hover
{
	transition: 0.5s;
	background-color: #4F2CD0;
}

.status-active:hover, .status-inactive:hover
{
	opacity: 85%
}
